* {
  padding: 0;
  margin: 0;
  font-family: "Microsoft Sans Serif";
  font-size: 12px;
  text-shadow: none;
}
#FirstPage {
  background: url("images/mainPage.png") center #fce6ad;
  background-size: 100% 100%;
  position: relative;
}
#FirstPage .BtnHolder {
  width: 100%;
  position: absolute;
  top: 72%;
  height: 47px;
}
#FirstPage .BtnHolder .beginBtn {
  width: 78%;
  height: 47px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  background: url("images/beginBtn.png") no-repeat center;
  background-size: 100% 100%;
  line-height: 47px;
}
#GamePage {
  background: url("images/gameBack.jpg") no-repeat center;
  background-size: 100% 100%;
  position: relative;
}
#GamePage .questionBoard {
  width: auto;
}
#GamePage .questionBoard .woodenBar {
  width: 100%;
  height: 19%;
  background: url("images/wood.png") no-repeat center;
  background-size: 100% 100%;
  text-shadow: none;
}
#GamePage .questionBoard .woodenBar .box {
  background: #ba5223;
  border-radius: 3px;
  border: 1px solid #e0591b;
  width: 20%;
  margin-top: 7%;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  color: #ffffff;
  text-align: center;
}
#GamePage .questionBoard .woodenBar .left {
  float: left;
  margin-left: 9%;
}
#GamePage .questionBoard .woodenBar .right {
  float: right;
  margin-right: 9%;
}
#GamePage .questionBoard .woodenBar .QNum {
  color: #ffffff;
  position: absolute;
  top: 4%;
  width: 15%;
  font-size: 15px;
}
#GamePage .questionBoard .woodenBar .num {
  font-size: 18px;
}
#GamePage .questionBoard .questionBack {
  width: 100%;
  height: 81%;
  background: url("images/questionBoard.png") no-repeat center;
  background-size: 100% 100%;
}
#GamePage .questionBoard .questionBack .Qwords {
  width: 80%;
  text-shadow: none;
  color: #ffffff;
  font-size: 14px;
  margin: 0 auto;
  line-height: 20px;
  margin-top: 12px;
}
#GamePage .questionBoard .questionBack .Qimg {
  width: 20%;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}
#GamePage .Qselecter {
  width: 92%;
  display: block;
  margin: 0 auto;
  margin-top: 16px;
}
#GamePage .Qselecter li {
  background: center no-repeat;
  background-size: 100% 100%;
  list-style: none;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
}
#GamePage .Scoretips {
  width: 90%;
  position: absolute;
  height: auto;
  top: 12%;
  display: none;
}
#GamePage .Scoretips .tipsBack {
  width: 100%;
}
#GamePage .Scoretips .nextBtn {
  width: 40%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 75%;
  background: url("images/Next.png") center no-repeat;
  background-size: 100% 100%;
}
@media (max-height: 470px) {
  .Qwords {
    font-size: 9px !important;
  }
}
@media (min-height: 560px) {
  .Qwords {
    font-size: 16px !important;
    line-height: 26px;
  }
  .Qselecter {
    margin-top: 30px !important;
  }
  .Qselecter li {
    height: 50px !important;
    line-height: 50px !important;
  }
}
